<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>com.bookyourtiffin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>IndexController</display-name>-->
<!--    <servlet-name>IndexController</servlet-name>-->
<!--    <servlet-class>com.project.controller.IndexController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>IndexController</servlet-name>-->
<!--    <url-pattern>/IndexController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>CityController</display-name>-->
<!--    <servlet-name>CityController</servlet-name>-->
<!--    <servlet-class>com.project.controller.CityController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>CityController</servlet-name>-->
<!--    <url-pattern>/CityController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>AreaController</display-name>-->
<!--    <servlet-name>AreaController</servlet-name>-->
<!--    <servlet-class>com.project.controller.AreaController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>AreaController</servlet-name>-->
<!--    <url-pattern>/AreaController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>UserController</display-name>-->
<!--    <servlet-name>UserController</servlet-name>-->
<!--    <servlet-class>com.project.controller.UserController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>UserController</servlet-name>-->
<!--    <url-pattern>/UserController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>CustomerController</display-name>-->
<!--    <servlet-name>CustomerController</servlet-name>-->
<!--    <servlet-class>com.project.controller.CustomerController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>CustomerController</servlet-name>-->
<!--    <url-pattern>/CustomerController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>RatingController</display-name>-->
<!--    <servlet-name>RatingController</servlet-name>-->
<!--    <servlet-class>com.project.controller.RatingController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>RatingController</servlet-name>-->
<!--    <url-pattern>/RatingController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>OrderController</display-name>-->
<!--    <servlet-name>OrderController</servlet-name>-->
<!--    <servlet-class>com.project.controller.OrderController</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>OrderController</servlet-name>-->
<!--    <url-pattern>/OrderController</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>OrderService</display-name>-->
<!--    <servlet-name>OrderService</servlet-name>-->
<!--    <servlet-class>com.project.service.OrderService</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>OrderService</servlet-name>-->
<!--    <url-pattern>/OrderService</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>OrderServiceImpl</display-name>-->
<!--    <servlet-name>OrderServiceImpl</servlet-name>-->
<!--    <servlet-class>com.project.service.OrderServiceImpl</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>OrderServiceImpl</servlet-name>-->
<!--    <url-pattern>/OrderServiceImpl</url-pattern>-->
<!--  </servlet-mapping>-->
</web-app>